$primaryColor: #00C5F7;
@mixin smoothAnim($prop, $time){
    transition: $prop $time;
    -webkit-transition: $prop $time;
    -moz-transition: $prop $time;
    -ms-transition: $prop $time;
    -o-transition: $prop $time;
}