@import 'utils';

.container {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;

    .loader {
        position: relative;
        margin: 0px auto;
        width: 240px;
        height: 300px;
        padding: 50px 60px;
        top: calc(50% - 210px);
        background-color: rgba(0,0,0,0.8);
        border-radius: 5px;
        color: #fff;
        label {
            display: block;
            margin-bottom: 20px;
        }
        select {
            width: 100%;
            margin-top: 5px;
            height: 30px;
            font-size: 1em;
            border: 0px;
        }
    }

    .buttons {
        position: fixed;
        left: 20px;
        padding: 20px;
        top: calc(50% - 50px);
        background-color: rgba(0,0,0,0.8);
        border-radius: 5px;
    }
    button {
        border: 2px solid $primaryColor;
        background-color: transparent;
        font-size: 1.3em;
        color: $primaryColor;
        padding: 10px 20px;
        border-radius: 2px;
        @include smoothAnim(all,300ms);
        cursor: pointer;
        &:hover {
            background-color: $primaryColor;
            color: #fff;
        }
    }
    svg: {
        float: left;
        margin-right: 5px;
    }

    .switch { margin-right: 1px; }
    .switch input { display: none; }
    .switch i { float: right; cursor: pointer; padding-right: 20px; transition: all ease 0.2s; -webkit-transition: all ease 0.2s; border-radius: 20px; box-shadow: inset 0 0 1px rgba(0,0,0,.5); background-color: #ddd; }
    .switch i:before { display: block; content: ''; width: 20px; height: 20px; border-radius: 20px; background: white; box-shadow: 0 1px 2px rgba(0,0,0,.5); margin: 1px 0px; }
    .switch :checked + i { padding-right: 0; padding-left: 20px; box-shadow: inset 0 0 1px rgba(0,0,0,.5), inset 0 0 40px rgb(100,189,99); -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.5), inset 0 0 40px rgb(100,189,99); }
}